In [14]:
import pandas as pd

In [22]:
work = pd.read_csv("../Dataset/afterPCA.csv")
print(work.shape)
work.head()

(150773, 43)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,case_status,class_of_admission
0,0,1.718837,-1.564101,-0.624270,0.367709,0.787634,0.745779,-0.765707,-1.596453,-1.157607,...,-0.922478,0.366428,4.181433,0.626535,-2.943687,0.965737,0.967921,-0.684650,1,0
1,1,-3.220177,-2.130617,0.059023,1.123626,-1.581496,-0.053500,-0.764700,0.048586,0.543452,...,-0.082052,0.325926,0.313514,-0.302003,0.611517,-0.233497,-0.741353,0.197093,0,0
2,2,-0.683024,-2.358398,-0.380102,0.324592,1.533251,1.329765,-0.661416,0.501212,-0.193716,...,-0.344387,0.231931,-0.131912,0.825182,-0.686843,-0.775654,0.987073,0.298712,1,0
3,3,-0.892537,-1.527530,1.762655,-2.958144,2.314363,1.380884,0.675292,-1.719787,1.551155,...,-1.154058,-1.841991,0.730057,-2.563708,-0.313658,-0.725614,-3.706364,-0.036169,1,0
4,4,1.378325,0.700173,1.513348,0.407777,1.708383,0.722666,-1.202219,1.425830,-0.149194,...,0.225081,0.571899,-0.820183,0.676044,-0.288469,-0.799120,0.177217,0.058635,1,0

In [25]:
l1 = work[work['class_of_admission']==1]
l1.to_csv("../Dataset/l1.csv")
l1.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,case_status,class_of_admission
140694,140694,-1.084314,-1.543944,-0.121550,0.557631,2.480155,0.612095,-1.765261,3.132775,0.205846,...,-1.324719,0.398405,-0.170750,0.447141,1.880653,-0.835846,0.177200,0.124371,1,1
140695,140695,0.546067,-0.653460,-0.286099,0.278774,1.947313,-0.010559,0.556575,0.064187,-1.983113,...,-0.969906,0.042458,-0.670126,0.310786,1.760688,0.688694,-0.445002,-0.914842,1,1
140696,140696,-0.414183,1.899536,-0.845571,0.334982,-0.122036,1.726835,-0.045543,-0.458981,0.902509,...,-0.428775,-0.515877,0.668813,-0.848956,0.283728,0.077467,0.362846,-0.272522,1,1
140697,140697,-3.118327,0.229138,-0.920722,-0.405977,0.354060,-0.667453,0.943625,-1.322497,-1.982702,...,-0.008942,0.165758,-0.361944,0.098989,0.867169,0.514826,-0.175728,0.113664,1,1
140698,140698,-0.939443,-0.064605,0.622334,-2.372281,0.973137,-0.195757,-0.777701,-0.681091,0.446798,...,-0.097251,-0.013605,-0.164361,0.351004,0.477269,0.205390,0.082971,0.115476,1,1

In [26]:
f1 = work[work['class_of_admission']==2]
f1.to_csv("../Dataset/f1.csv")
f1.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,case_status,class_of_admission
133714,133714,1.094560,-1.007451,1.477034,-2.726029,-0.646306,-0.225530,-0.126067,0.255027,-0.541950,...,-0.163190,0.257839,-0.024023,0.249227,0.382458,0.547640,0.387264,-0.294953,1,2
133715,133715,-1.080684,-0.807437,0.202984,-0.370354,0.322429,-0.142680,0.130592,0.249193,0.023892,...,-0.016310,-0.063399,0.079390,-0.069294,0.133362,-0.028788,0.109325,0.219400,1,2
133716,133716,-0.452603,-1.837331,-0.169052,-0.529652,0.022990,0.208882,-0.429484,-0.117606,0.815384,...,0.046443,0.196740,0.025413,0.045048,0.685475,-0.002337,-0.195084,0.553738,0,2
133717,133717,-2.309276,-2.994355,0.824523,-0.778125,-0.011338,-0.096398,-0.372291,1.424843,1.928860,...,-0.538538,-0.157673,-0.764277,-1.419649,-0.568644,2.337575,5.432359,-0.541657,0,2
133718,133718,1.596290,0.256426,0.062521,-0.713963,-1.461713,-0.325436,0.242211,1.061015,-0.738684,...,0.000793,0.170814,0.122744,-0.063880,0.192708,0.404975,0.256948,0.065180,0,2

In [27]:
h1 = work[work['class_of_admission']==1]
h1.to_csv("../Dataset/h1b.csv")
h1.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,case_status,class_of_admission
140694,140694,-1.084314,-1.543944,-0.121550,0.557631,2.480155,0.612095,-1.765261,3.132775,0.205846,...,-1.324719,0.398405,-0.170750,0.447141,1.880653,-0.835846,0.177200,0.124371,1,1
140695,140695,0.546067,-0.653460,-0.286099,0.278774,1.947313,-0.010559,0.556575,0.064187,-1.983113,...,-0.969906,0.042458,-0.670126,0.310786,1.760688,0.688694,-0.445002,-0.914842,1,1
140696,140696,-0.414183,1.899536,-0.845571,0.334982,-0.122036,1.726835,-0.045543,-0.458981,0.902509,...,-0.428775,-0.515877,0.668813,-0.848956,0.283728,0.077467,0.362846,-0.272522,1,1
140697,140697,-3.118327,0.229138,-0.920722,-0.405977,0.354060,-0.667453,0.943625,-1.322497,-1.982702,...,-0.008942,0.165758,-0.361944,0.098989,0.867169,0.514826,-0.175728,0.113664,1,1
140698,140698,-0.939443,-0.064605,0.622334,-2.372281,0.973137,-0.195757,-0.777701,-0.681091,0.446798,...,-0.097251,-0.013605,-0.164361,0.351004,0.477269,0.205390,0.082971,0.115476,1,1